/* Chillax */
@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
